<%= form_with(model: commenter, local: true) do |form| %>
  <% if commenter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(commenter.errors.count, "error") %> prohibited this commenter from being saved:</h2>

      <ul>
      <% commenter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
